* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
  background-color: #343a40;
}
[contenteditable] {
  outline: 1px solid #ccc;
}
section {
  min-height: 100vh;
}
#title {
  text-shadow: 3px 3px 3px black;
  margin-top: 15rem;
}
#title-container {
  margin-top: 3rem;
}
.btn {
  border-radius: 1px solid white !important;
}

#landing {
  background-image: url(/assets/images/pexels-dom-j-303059.jpg);
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  background-attachment: fixed;
}
#discover {
  min-height: 100vh;
}
#card {
  margin-left: 10% !important;
  margin-right: 2rem;
  width: 80%;
  height: 16rem;
  margin-top: -4rem !important;
}
#card-content {
  opacity: 1;
}
#listing-card {
  height: 35rem;
}
#search-button {
  width: 5rem;
}
.btn-conatiner {
  display: flex;
  justify-content: center;
}
div#houses-listing {
  display: flex;
  flex-wrap: wrap;
}
#img {
  width: 20rem;
  height: auto;
}
/* #row {
  --bs-gutter-x: -64.5rem;
}
#row-2 {
  --bs-gutter-x: -47.5rem;
} */
@media only screen and (max-width: 992px) {
  #landing {
    min-height: 80vh;
  }
  /* .col-lg-3 {
    padding-left: 20rem;
  } */
  #card {
    margin-left: 10%;
    margin-right: 2rem;
    width: 80%;
    height: 20rem;
    margin-top: -8rem;
  }
  input {
    width: 100%;
  }

  #listing-card {
    height: 35rem;
    width: 20rem;
  }
  div#houses-listing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -0.5rem;
  }
}
@media only screen and (max-width: 1285.6px) {
  #card {
    margin-left: 10%;
    margin-right: 2rem;
    width: 80%;
    height: 18rem;
    margin-top: -8rem;
  }
  #row {
    --bs-gutter-x: 1.5rem;
  }
  #row-2 {
    --bs-gutter-x: 1.5rem;
  }
}

@media only screen and (max-width: 425px) {
  #card {
    margin-left: 10%;
    margin-right: 2rem;
    width: 80%;
    height: 40rem;
    margin-top: -8rem;
  }
  .p-3 {
    padding: 0.8rem !important;
  }
}
@media only screen and (max-width: 1119px) and (min-width: 428px) {
  #card {
    margin-left: 10%;
    margin-right: 2rem;
    width: 80%;
    height: 40rem;
    margin-top: -8rem;
  }
}
